n8n/01-sync-leads-wts.json
{
  "name": "Sync Leads WTS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "sync_log",
        "where": {
          "values": [
            { "column": "fonte", "value": "wts" },
            { "column": "status", "value": "sucesso" }
          ]
        },
        "sort": { "values": [{ "column": "finalizado_em", "direction": "DESC" }] },
        "limit": 1
      },
      "id": "ultimaSync",
      "name": "Ultima sync WTS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "{{SUPABASE_PG_CRED_ID}}", "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const last = $input.first()?.json?.finalizado_em;\nconst since = last ? new Date(last).toISOString() : new Date(Date.now() - 24*60*60*1000).toISOString();\nreturn [{ json: { since } }];"
      },
      "id": "calcSince",
      "name": "Calcula since",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://api.wts.chat/sessions?status=all&created_after={{$json.since}}&limit=200",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetchSessoes",
      "name": "WTS GET /sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "{{WTS_AUTH_CRED_ID}}", "name": "WTS Bearer" }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "splitSessoes",
      "name": "Split sessoes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "include": "specifiedFields",
        "fieldsToInclude": {
          "values": [
            { "name": "wts_session_id", "value": "={{$json.id}}" },
            { "name": "nome", "value": "={{$json.contact?.name || ''}}" },
            { "name": "telefone", "value": "={{$json.contact?.phoneNumber || ''}}" },
            { "name": "status", "value": "={{$json.status || 'Pendente'}}" },
            { "name": "utm_source", "value": "={{$json.utmSource || ''}}" },
            { "name": "utm_medium", "value": "={{$json.utmMedium || ''}}" },
            { "name": "utm_campaign", "value": "={{$json.utmCampaign || ''}}" },
            { "name": "utm_content", "value": "={{$json.utmContent || ''}}" },
            { "name": "primeira_mensagem", "value": "={{$json.firstMessage || ''}}" },
            { "name": "data_criacao", "value": "={{$json.createdAt}}" },
            { "name": "data_primeira_mensagem", "value": "={{$json.firstMessageAt || $json.createdAt}}" },
            { "name": "data_ultima_mensagem", "value": "={{$json.lastMessageAt || $json.createdAt}}" },
            { "name": "tempo_atendimento_min", "value": "={{$json.responseTime ? Number($json.responseTime)/60 : null}}" }
          ]
        },
        "options": {}
      },
      "id": "mapearLead",
      "name": "Mapear -> leads",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "leads",
        "columns": "wts_session_id,nome,telefone,status,utm_source,utm_medium,utm_campaign,utm_content,primeira_mensagem,data_criacao,data_primeira_mensagem,data_ultima_mensagem,tempo_atendimento_min",
        "conflictColumns": "wts_session_id",
        "options": {}
      },
      "id": "upsertLeads",
      "name": "Upsert leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": { "postgres": { "id": "{{SUPABASE_PG_CRED_ID}}", "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "sync_log",
        "columns": "fonte,status,registros_processados,finalizado_em",
        "additionalFields": {}
      },
      "id": "logSync",
      "name": "Log sucesso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 300],
      "credentials": { "postgres": { "id": "{{SUPABASE_PG_CRED_ID}}", "name": "Supabase Postgres" } }
    }
  ],
  "connections": {
    "Cada 15 minutos": { "main": [[{ "node": "Ultima sync WTS", "type": "main", "index": 0 }]] },
    "Ultima sync WTS": { "main": [[{ "node": "Calcula since", "type": "main", "index": 0 }]] },
    "Calcula since": { "main": [[{ "node": "WTS GET /sessions", "type": "main", "index": 0 }]] },
    "WTS GET /sessions": { "main": [[{ "node": "Split sessoes", "type": "main", "index": 0 }]] },
    "Split sessoes": { "main": [[{ "node": "Mapear -> leads", "type": "main", "index": 0 }]] },
    "Mapear -> leads": { "main": [[{ "node": "Upsert leads", "type": "main", "index": 0 }]] },
    "Upsert leads": { "main": [[{ "node": "Log sucesso", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["funil", "wts"]
}
