n8n/01-sync-leads-wts.json
{
  "name": "Sync Leads WTS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {},
      "id": "execTrigger",
      "name": "Quando chamado por outro fluxo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(finalizado_em) AS finalizado_em FROM sync_log WHERE fonte = 'wts' AND status = 'sucesso'"
      },
      "id": "ultimaSync",
      "name": "Ultima sync WTS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "{{SUPABASE_PG_CRED_ID}}", "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const last = $input.first()?.json?.finalizado_em;\nconst since = last ? new Date(last).toISOString() : new Date(Date.now() - 24*60*60*1000).toISOString();\nreturn [{ json: { since } }];"
      },
      "id": "calcSince",
      "name": "Calcula since",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.wts.chat/chat/v2/session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer pn_WlkjJWQ0vPSG7Pnz3uH8gv1i3B1QBJ82b5ht9oTunUI" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "PageSize", "value": "100" },
            { "name": "OrderBy", "value": "CreatedAt" },
            { "name": "OrderDirection", "value": "DESCENDING" },
            { "name": "IncludeDetails", "value": "ContactDetails" },
            { "name": "CreatedAt.After", "value": "={{$json.since}}" }
          ]
        },
        "options": {}
      },
      "id": "fetchSessoes",
      "name": "WTS GET /sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "splitSessoes",
      "name": "Split sessoes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const statusMap = { UNDEFINED: 'Pendente', STARTED: 'Pendente', PENDING: 'Pendente', IN_PROGRESS: 'Em andamento', COMPLETED: 'Concluido', HIDDEN: 'Pendente' };\nfunction parseTempoMin(t) {\n  if (t == null) return null;\n  if (typeof t === 'number') return t / 60;\n  const s = String(t).trim();\n  if (/^\\d+(\\.\\d+)?$/.test(s)) return Number(s) / 60;\n  const m = s.match(/^(\\d+):(\\d+):(\\d+)/);\n  if (m) return Number(m[1]) * 60 + Number(m[2]) + Number(m[3]) / 60;\n  return null;\n}\nconst out = [];\nfor (const it of $input.all()) {\n  const s = it.json || {};\n  const cd = s.contactDetails || {};\n  const utm = s.utm || {};\n  out.push({ json: {\n    wts_session_id: s.id,\n    nome: cd.name || s.title || '',\n    telefone: cd.phonenumberFormatted || cd.phonenumber || s.number || '',\n    status: statusMap[s.status] || 'Pendente',\n    utm_source: utm.source || '',\n    utm_medium: utm.medium || '',\n    utm_campaign: utm.campaign || '',\n    utm_content: utm.content || '',\n    primeira_mensagem: s.lastMessageText || '',\n    data_criacao: s.createdAt,\n    data_primeira_mensagem: s.startAt || s.createdAt,\n    data_ultima_mensagem: s.lastInteractionDate || s.lastMessageIn || s.lastMessageOut || s.updatedAt || s.createdAt,\n    tempo_atendimento_min: parseTempoMin(s.timeService),\n  } });\n}\nreturn out;"
      },
      "id": "mapearLead",
      "name": "Mapear -> leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "leads", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["wts_session_id"]
        },
        "options": {}
      },
      "id": "upsertLeads",
      "name": "Upsert leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": { "postgres": { "id": "{{SUPABASE_PG_CRED_ID}}", "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { fonte: 'wts', count: $input.all().length } }];"
      },
      "id": "contarRegistros",
      "name": "Contar registros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sync_log (fonte, status, registros_processados, finalizado_em) VALUES ('wts', 'sucesso', {{$json.count}}, NOW())"
      },
      "id": "logSync",
      "name": "Log sucesso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "credentials": { "postgres": { "id": "{{SUPABASE_PG_CRED_ID}}", "name": "Supabase Postgres" } }
    }
  ],
  "connections": {
    "Cada 15 minutos": { "main": [[{ "node": "Ultima sync WTS", "type": "main", "index": 0 }]] },
    "Quando chamado por outro fluxo": { "main": [[{ "node": "Ultima sync WTS", "type": "main", "index": 0 }]] },
    "Ultima sync WTS": { "main": [[{ "node": "Calcula since", "type": "main", "index": 0 }]] },
    "Calcula since": { "main": [[{ "node": "WTS GET /sessions", "type": "main", "index": 0 }]] },
    "WTS GET /sessions": { "main": [[{ "node": "Split sessoes", "type": "main", "index": 0 }]] },
    "Split sessoes": { "main": [[{ "node": "Mapear -> leads", "type": "main", "index": 0 }]] },
    "Mapear -> leads": { "main": [[{ "node": "Upsert leads", "type": "main", "index": 0 }]] },
    "Upsert leads": { "main": [[{ "node": "Contar registros", "type": "main", "index": 0 }]] },
    "Contar registros": { "main": [[{ "node": "Log sucesso", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["funil", "wts"]
}
