n8n/02-sync-meta-ads.json
{
  "name": "Sync Meta Ads",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }] }
      },
      "id": "schedule",
      "name": "A cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {},
      "id": "execTrigger",
      "name": "Quando chamado por outro fluxo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{$env.META_AD_ACCOUNT_ID}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "campaign_name,campaign_id,impressions,reach,clicks,spend,actions,cost_per_action_type,date_start,date_stop" },
            { "name": "date_preset", "value": "this_month" },
            { "name": "level", "value": "campaign" },
            { "name": "limit", "value": "200" },
            { "name": "access_token", "value": "={{$env.META_ACCESS_TOKEN}}" }
          ]
        },
        "options": {}
      },
      "id": "fetchInsights",
      "name": "Meta GET /insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": { "fieldToSplitOut": "data", "options": {} },
      "id": "splitCamp",
      "name": "Split campanhas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const it of $input.all()) {\n  const c = it.json;\n  const nome = c.campaign_name || '';\n  let tipo = 'NAO_CLASSIFICADO';\n  const u = nome.toUpperCase();\n  if (u.includes('UBER') || u.includes('99') || u.includes('INDRIVE') || u.includes('MOBILIDADE')) tipo = 'APP_MOBILIDADE';\n  else if (u.includes('NAV') || u.includes('SERV') || u.includes('PUB')) tipo = 'SERVIDOR_PUBLICO';\n  const conversas = (c.actions || []).find(a => a.action_type === 'onsite_conversion.messaging_conversation_started_7d' || a.action_type === 'messaging_conversation_started_7d')?.value;\n  const cprObj = (c.cost_per_action_type || []).find(a => a.action_type === 'onsite_conversion.messaging_conversation_started_7d' || a.action_type === 'messaging_conversation_started_7d');\n  const impressoes = Number(c.impressions || 0);\n  const cliques = Number(c.clicks || 0);\n  out.push({ json: {\n    campaign_id: c.campaign_id,\n    nome,\n    tipo,\n    status: 'ACTIVE',\n    impressoes,\n    alcance: Number(c.reach || 0),\n    cliques,\n    resultados: Number(conversas || 0),\n    gasto: Number(c.spend || 0),\n    cpr: Number(cprObj?.value || 0),\n    cpm: impressoes > 0 ? (Number(c.spend || 0) / impressoes) * 1000 : 0,\n    ctr: impressoes > 0 ? cliques / impressoes : 0,\n    data_inicio: c.date_start || null,\n    data_fim: c.date_stop || null,\n    raw_actions: c.actions || []\n  } });\n}\nreturn out;"
      },
      "id": "mapMeta",
      "name": "Classificar tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const arr = $input.all().map(it => it.json);\nreturn [{ json: { rows: arr, count: arr.length } }];"
      },
      "id": "agruparCamp",
      "name": "Agrupar campanhas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://supabase.zapconnecta.com/rest/v1/campanhas_meta",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTkwMDAwMDAwMH0.kq70f17QKC1e1kh2nU5emk6YqNbUiJF2Odojbwo3ja0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTkwMDAwMDAwMH0.kq70f17QKC1e1kh2nU5emk6YqNbUiJF2Odojbwo3ja0" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "on_conflict", "value": "campaign_id" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rows) }}",
        "options": {}
      },
      "id": "upsertCamp",
      "name": "Upsert campanhas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://supabase.zapconnecta.com/rest/v1/rpc/log_sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTkwMDAwMDAwMH0.kq70f17QKC1e1kh2nU5emk6YqNbUiJF2Odojbwo3ja0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTkwMDAwMDAwMH0.kq70f17QKC1e1kh2nU5emk6YqNbUiJF2Odojbwo3ja0" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_fonte: 'meta', p_count: $json.count }) }}",
        "options": {}
      },
      "id": "logSync",
      "name": "Log sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "A cada hora": { "main": [[{ "node": "Meta GET /insights", "type": "main", "index": 0 }]] },
    "Quando chamado por outro fluxo": { "main": [[{ "node": "Meta GET /insights", "type": "main", "index": 0 }]] },
    "Meta GET /insights": { "main": [[{ "node": "Split campanhas", "type": "main", "index": 0 }]] },
    "Split campanhas": { "main": [[{ "node": "Classificar tipo", "type": "main", "index": 0 }]] },
    "Classificar tipo": { "main": [[{ "node": "Agrupar campanhas", "type": "main", "index": 0 }]] },
    "Agrupar campanhas": { "main": [[{ "node": "Upsert campanhas", "type": "main", "index": 0 }]] },
    "Upsert campanhas": { "main": [[{ "node": "Log sucesso", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["funil", "meta"]
}
