n8n/03-sync-zapsign.json
{
  "name": "Sync Contratos ZapSign",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "*/30 * * * *" }] }
      },
      "id": "schedule",
      "name": "A cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {},
      "id": "execTrigger",
      "name": "Quando chamado por outro fluxo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "=https://api.zapsign.com.br/api/v1/docs/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "page", "value": "1" },
            { "name": "page_size", "value": "100" },
            { "name": "sort_order", "value": "desc" },
            { "name": "include_signers", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "fetchDocs",
      "name": "ZapSign GET /docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "{{ZAPSIGN_AUTH_CRED_ID}}", "name": "ZapSign Bearer" }
      }
    },
    {
      "parameters": { "fieldToSplitOut": "results", "options": {} },
      "id": "splitDocs",
      "name": "Split docs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  const nome = d.name || '';\n  const u = nome.toUpperCase();\n  let tipo = 'GENERICO';\n  if (u.includes('UBER') || u.includes('99') || u.includes('INDRIVE') || u.includes('APP MOBILIDADE') || u.includes('MOBILIDADE')) tipo = 'APP_MOBILIDADE';\n  let status = 'Em curso';\n  if (d.status === 'signed') status = 'Assinado';\n  else if (d.status === 'refused' || d.status === 'rejected') status = 'Recusado';\n  else if (d.status === 'expired') status = 'Expirado';\n  out.push({ json: {\n    zapsign_doc_id: d.token || d.open_id,\n    nome_documento: nome,\n    tipo_contrato: tipo,\n    status,\n    data_criacao: d.created_at,\n    data_assinatura: d.last_update_at && status === 'Assinado' ? d.last_update_at : null,\n    signers: d.signers || []\n  } });\n}\nreturn out;"
      },
      "id": "mapDocs",
      "name": "Classificar contrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const statusMap = {\n  nao_abriu: 'Nao abriu', abriu: 'Apenas visualizou', assinou: 'Assinou', recusou: 'Recusou', expirou: 'Expirou', cancelado: 'Cancelado',\n  signed: 'Assinou', visualized: 'Apenas visualizou', refused: 'Recusou', rejected: 'Recusou', expired: 'Expirou'\n};\nconst contratos = [];\nconst signers = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  const { signers: docSigners, ...rest } = d;\n  contratos.push(rest);\n  for (const s of (docSigners || [])) {\n    if (!s || !s.token) continue;\n    signers.push({\n      zapsign_doc_id: rest.zapsign_doc_id,\n      zapsign_signer_token: s.token,\n      nome: s.name || '',\n      email: s.email || '',\n      telefone: s.phone_number || '',\n      status: statusMap[s.status] || 'Nao abriu',\n      data_assinatura: s.signed_at || null\n    });\n  }\n}\nreturn [{ json: { contratos, signers, count: contratos.length } }];"
      },
      "id": "agrupar",
      "name": "Agrupar contratos e signers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://supabase.zapconnecta.com/rest/v1/contratos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "on_conflict", "value": "zapsign_doc_id" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.contratos) }}",
        "options": {}
      },
      "id": "upsertContratos",
      "name": "Upsert contratos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://supabase.zapconnecta.com/rest/v1/rpc/upsert_signatarios_batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ payload: $('Agrupar contratos e signers').first().json.signers }) }}",
        "options": {}
      },
      "id": "upsertSigners",
      "name": "Upsert signatarios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://supabase.zapconnecta.com/rest/v1/rpc/log_sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_fonte: 'zapsign', p_count: $('Agrupar contratos e signers').first().json.count }) }}",
        "options": {}
      },
      "id": "logSync",
      "name": "Log sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "A cada 30 min": { "main": [[{ "node": "ZapSign GET /docs", "type": "main", "index": 0 }]] },
    "Quando chamado por outro fluxo": { "main": [[{ "node": "ZapSign GET /docs", "type": "main", "index": 0 }]] },
    "ZapSign GET /docs": { "main": [[{ "node": "Split docs", "type": "main", "index": 0 }]] },
    "Split docs": { "main": [[{ "node": "Classificar contrato", "type": "main", "index": 0 }]] },
    "Classificar contrato": { "main": [[{ "node": "Agrupar contratos e signers", "type": "main", "index": 0 }]] },
    "Agrupar contratos e signers": { "main": [[{ "node": "Upsert contratos", "type": "main", "index": 0 }]] },
    "Upsert contratos": { "main": [[{ "node": "Upsert signatarios", "type": "main", "index": 0 }]] },
    "Upsert signatarios": { "main": [[{ "node": "Log sucesso", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["funil", "zapsign"]
}
